*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins,sans-serif;
}

:root{
    --green-color: rgb(111, 230, 111);
    --black-body: black;
    --white-color: white;
    --headline-font-size-one: 50px;
    --para-color: rgb(116, 114, 114);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--black-body);
    color: var(--white-color);
}

.headline{
    position: relative;
    font-size: var(--headline-font-size-one);
    display: inline-block;
}

.headline::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 5px;
    background-color: var(--green-color);
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

header{
    position: sticky;
    top: 0;
    background-color: var(--black-body);
    z-index: 1000;
}

nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    "h n";
    padding-top: 20px;
}

nav h3{
    grid-area: h;
    font-size: 30px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    justify-self: end;
    grid-area: n;
}

.showNav{
    height: auto;
    gap: 0;
    overflow: auto; 
    position: absolute;
    top: 50px;
    width: calc(100% - 20px); 
    background-color: var(--black-body);
    border-bottom: 1px solid rgb(26, 25, 25);
    animation: growHigh 0.2s linear;
}

@keyframes growHigh{
    0%{
        transform: scale(0, 0);
    }100%{
        transform: translateY(1, 1);
    }
}

.showNav li{
    width: 100%;
    text-align: center;
}

.showNav li a{
    display: block;
    width: 100%;
    padding: 10px 0;
}

.showNav li a:hover{
    background-color: var(--green-color);
    color: white;
}

.showNav li a:hover::before{
    height: 0;
    width: 0;
}

nav ul li a{
    color: var(--white-color);
    font-weight: bold;
    position: relative;
}

nav ul li a:hover{
    color: var(--green-color);
}

nav ul li a:hover::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--green-color);
}

#burger-menu{
   grid-area: b;
   justify-self: end;
   display: none;
   cursor: pointer;
}


/*
hero section starts from here........
*/

.hero-section{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.hero-name{
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}

.hero-name span{
    position: relative;
    font-size: 50px; 
}

.hero-name span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    background-color: var(--green-color);
    animation: grow 10s linear infinite;
}

@keyframes grow{
    0%{
        width: 0;
    }100%{
        width: 100%;
    }
}

.typing-text-div{  
    font-size: 40px;
}

.typing-text-div .text{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}

.typing-text-div .text.first-text{
    color: var(--white-color)
}

.text.sec-text{
    color: var(--green-color);
    margin-left: 10px;
}

.text.sec-text::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black-body);
    border-left: 3px solid var(--green-color);
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: 100%
    }
    100%{
        left: 0;
    }
}

.hero-btn,
form button{
    display: flex;
    gap: 10px;
    width: fit-content;
    margin-top: 20px;
    background-color: var(--black-body);
    color: var(--white-color);
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid var(--white-color);
    cursor: pointer;
    font-weight: bold;
}

.hero-btn:hover,
form button:hover{
    background-color: var(--green-color);
    border-color: var(--green-color);
}


.hero-social-icon{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-social-icon a,
.contact-social a{
    color: var(--white-color);
}

.hero-social-icon .fa-brands,
.contact-social .fa-brands{
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.hero-social-icon .fa-brands:hover,
.contact-social .fa-brands:hover{
    background-color: var(--green-color);
}


/*
     about section starts from here......
*/
.about-section{
    display: flex;
    align-items: center;
    min-height: 50vh;
    padding-top: 50px;
}

.about-content{
    flex: 1;
}


.about-content p{
    margin-top: 20px;
    width: 80%;
    line-height: 22px;
}

.about-img-sec{
    flex: 1;
    display: grid;
    place-items: center;
}

.about-img-box{
   width: 300px;
   height: 300px;
   display: grid;
   place-items: center;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
   z-index: 5;
}

.about-img-box::before{
    content: '';
    position: absolute;
    width: 80px;
    inset: -30px 140px;
    background-color: aliceblue;
    animation: aboutImg 4s linear infinite;
    background: linear-gradient(315deg, #00ccff, var(--green-color));
}

@keyframes aboutImg{
    0%{
        transform: rotate(0deg);
    }0%{
        transform: rotate(360deg);
    }
}

.about-img-sec img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
    background-color: var(--black-body);
}


/*
  Skills section starts from heree.....
*/

.skill-section{
    margin-top: 200px;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
}

.skill-container{
    width: 40%;
    margin:  0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.skill-set{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 40%;
}
.skill-img{
    width: 50px;
    height: 45px;
    object-fit: cover;
}

/*
  portfolio-section.....
*/

.portfolio-section{
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

.portfolio-container{
    margin-top: 50px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.portfolio-box{
    width: 300px;
    height: 200px;
    position: relative;
}

.portImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.portOverlay{
    position: absolute;
    width: 95%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.portOverlay .fa-eye{
    display: none;
}

.portOverlay:hover .fa-eye{
    display: block;
}

.portfolio-box:hover .portOverlay{
    background-color: rgba(0, 0, 0, 0.7);
}

.port-textBox{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    border-radius: 30px 0px;
    padding: 5px;
}

.port-textBox p{
    font-size: 12px;
}


/*
 modal of portfolio
*/

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 200;
}

.modal-visible{
    display: grid;
    place-items: center;
}

.modal-box{
    background-color: var(--black-body);
    width: 40vw;
    min-width: 400px;
    max-height: 70vh;
    border: 1px solid rgb(94, 92, 92);
    border-radius: 5px;
    padding: 20px 36px;
    position: relative;
}

.close-modal{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: red;
    border: 2px solid red;
    cursor: pointer;
}

.close-modal:hover {
    background-color: rgba(255, 73, 73, 0.5);
}

.modal-box h1{
    margin-top: 5px;
}

.modal-box p{
    margin-top: 5px;
    color:var(--para-color);
}

.modal-options{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.modal-options > *{
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-options > * p,
.modal-options > * a
{
    color: var(--green-color);
}

.modal-options > * a:hover{
    border-bottom: 1px solid var(--green-color);
}

.modal-box img{
    margin-top: 25px;
    width: 100%;
    max-height: 300px;  
}

/*
 contact me section...
*/
.contact-section{
   margin-top: 250px;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.contact-container > *{
    flex: 1;
}

.contact-details p:nth-child(1){
    color: var(--para-color);
}

.address{
    margin: 55px 0 15px;
}


.contact-email{
    color: var(--green-color);
    margin-top: 5px;
}

.contact-social{
    margin-top: 30px;
    display: flex;
}

form{
    width: 100%;
}

.form-inputs input,
textarea{
    background-color: transparent;
    border: none;
    color: rgb(228, 228, 228);
    border-bottom: 1px solid rgb(112, 111, 111);
    padding: 5px;
    font-size: 15px;
    margin-bottom: 25px;
}

.form-inputs input{
    width: 48%;
}

textarea{
    display: block;
    width: 96%;
    min-height: 200px;
}

.form-inputs input:focus,
textarea:focus{
   outline: none;
   border-bottom: 1px solid var(--green-color);
}

.copy-right{
    margin-top: 200px;
    border-top: 1px solid var(--white-color);
    padding: 15px 0;
    text-align: center;
}



@media screen and (max-width: 1200px) {
    .main-container{
        width: calc(100% - 10%);
    }


        /*
    portfolio-section.....
    */
    .portfolio-container{
        max-width: 95%;
        justify-content: center;
    }


    /*
    modal of portfolio
    */
    .modal-box{
        max-height: 60vh;
    }
}

@media screen and (max-width: 768px) {
    .main-container{
        width: calc(100% - 50px);
    }
    nav{
        grid-template-areas: 
        "h b"
        "n n";
    }
    nav ul{
        justify-self: stretch;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        height: 0;
        overflow: hidden;
        z-index: 5;
    }

    #burger-menu{
        display: block;
    }

    #burger-menu .fa-solid.fa-bars{
        display: block;
    }

    #burger-menu .fa-solid.fa-xmark{
        display: none;
    }


        /*
    Skills section starts from heree.....
    */
    .skill-container{
        width: 80%;
        margin-top: 30px;
    }


    /*
    contact me section...
    */
    .contact-section{
        margin-top: 200px;
    }
    
    .contact-container{
        align-items: center;
        flex-direction: column;
        gap: 70px;
    }

    .contact-section .headline{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .contact-section .headline::before{
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
    }
    
    .form-inputs input{
        width: 96%;
    }
    
    textarea{
        display: block;
        width: 96%;
        min-height: 200px;
    }
    
    .copy-right{
        font-size: 12px;
    }
 
}



@media screen and (max-width: 576px){
    .headline{
        font-size: 30px;
    }
    .headline::before{
        bottom: -3px;
        height: 3px;
    }


    .hero-section{
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .hero-name{
        font-size: 25px;
        margin: 6px 0;
    }

    .hero-name span{
        font-size: 30px; 
    }

    .typing-text-div .text{
        font-size: 20px;
        font-weight: 400;
    }

    .text.sec-text{
        margin-left: 5px;
    }

    .hero-btn{
        gap: 5px;
        margin-top: 20px;
        padding: 8px 20px;
    }

    .hero-social-icon{
        flex-direction: row;
        gap: 10px;
    }

    .hero-social-icon .fa-brands{
        font-size: 20px;
        width: 30px;
        height: 30px;
    }


    /*
     about section starts from here......
*/
    .about-section{
        margin-top: 100px;
        flex-direction: column-reverse;
        gap: 50px;
        align-items: center;
        min-height: 50vh;
    }
    .about-content p{
        margin-top: 20px;
        width: 90%;
        line-height: 22px;
    }

    .about-img-sec{
        flex: 1;
        display: grid;
        place-items: center;
    }

    .about-img-box{
    width: 200px;
    height: 200px;
    }

    .about-img-box::before{
        width: 60px;
        inset: -50px 100px;
    }

    
        /*
    Skills section starts from heree.....
    */

    .skill-container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-set{
        width: 100%;
    }


    /*
    modal of portfolio
    */

    .modal-box{
        width: 90vw;
        min-width: 280px;
    }

    .close-modal{
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        font-size: 12px;
    }

    .modal-box h1{
        font-size: 20px;
    }

    .modal-box p{
        font-size: 12px;
    }

    .modal-options{
        gap: 10px;
    }

    .modal-options > *{
        width: calc(50% - 10px);
        gap: 5px;
    }

    i{
        font-size: 12px;
    }

    .modal-options > * p,
    .modal-options > * a
    {
        font-size: 12px;
    }

    .modal-box img{
        margin-top: 15px;
    }
}

